{% extends 'base.html' %}

{% block loader %} {% include 'loader.html' %} {% endblock loader %}
{% block header %} {% include 'header.html' %} {% endblock header %}
{% block banner %} {% include 'banner.html' %} {% endblock banner %}
{% block content %}

 <div class="container mt-5 mb-5">
  <h1 class="text-center text-capitalize title">{{catname.name}}</h1>
  <div class="row mt-5">
    
    {% for item in catprod %}
      
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card featcard">
        <a href="{% url 'detail' item.id item.slug %}"><img src="{{item.img.url}}" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <h5 class="card-title text-capitalize text-center">{{item.name}}</h5>
          <P class="card-text text-center">N{{item.price}}</P>
          <button class="btn btn-warning">Add to cart</button>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</div>
{% endblock content %}

{% block footer %} {% include 'footer.html' %} {% endblock footer %}