{% extends 'base.html' %}

{% block loader %} {% include 'loader.html' %} {% endblock loader %}
{% block header %} {% include 'header.html' %} {% endblock header %}
{% block banner %} {% include 'banner.html' %} {% endblock banner %}
{% block content %}


<!-- content  -->
<div class="container mt-5 mb-5">
  <h1 class="text-center text-capitalize title">contact us</h1>
  <div class="row mt-5 contact">
    <div class="col-12 col-md-6">
      <form action="{% url 'contact' %}" method= "POST">
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Full Name</label>
          <input name="full_name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="eg.Tifase Oluwaseyi">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">email</label>
          <input name="email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Meassage</label>
          <textarea name="message" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-warning text-capitalize">submit</button>
        </div>
      </form>
    </div>
    
    <div class="col-12 col-md-6 map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d34970.93117451938!2d3.5071673611794987!3d6.652559010891871!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bef5948591cd3%3A0xfeed7d4726997149!2sLASUSTECH%20second%20gate!5e0!3m2!1sen!2sng!4v1679565883161!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
    

  </div>
</div>

<!-- content done  -->
{% endblock content %}



{% block footer %} {% include 'footer.html' %} {% endblock footer %}