<footer>
    <div class="container-fluid">
      <div class="row fitem pt-3 pb-3">
        <div class="col-6 col-lg-4">
          <img src="/img/logo.png" alt="">
          <h3>software developers building amazing projects</h3>
          <ul class="list-unstyled">
            <li class="list-inline-item"><i class="bi bi-instagram"></i></li>
            <li class="list-inline-item"><i class="bi bi-facebook"></i></li>
            <li class="list-inline-item"><i class="bi bi-linkedin"></i></li>
            <li class="list-inline-item"><i class="bi bi-snapchat"></i></li>
          </ul>

        </div>

        <div class="col-6 col-lg-4 flink">
          <h2 class="text-center text-capitalize">useful links</h2>
          <ul class="list-unstyled">
            <li><a href="/ass.html">home</a></li>
            <li><a href="/products.html">products</a></li>
            <li><a href="/contact.html">contact</a></li>
            <li><a href="">terms and condition</a></li>

          </ul>

        </div>
        <div class="col-6 col-lg-4 fadd">
          <h2 class="text-center text-capitalize">address</h2>
          <div class="row">
            <div class="col-1 me">
              <i class="bi bi-geo-alt-fill"></i>
            </div>
            <div class="col-11">
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
              

            </div>

          </div>
          <div class="row">
            <div class="col-1">
              <i class="bi bi-telephone-inbound-fill"></i>
            </div>
            <div class="col-11">
              <p>09019586868</p>

            </div>

          </div>
          <div class="row">
            <div class="col-1">
              <i class="bi bi-envelope-at-fill"></i>

            </div>
            <div class="col-11">
              <p>hello@hojomedia.com</p>

            </div>

          </div>

        </div>

      </div>

    </div>
    <div class="container-fluid ttb">
      <div class="row bg-dark ttl">
        <p class="text-white text-center text-capitalize pt-3">&copy;copyright snoopyy 2023|all rights reserved| developed by hojo</p>

      </div>

    </div>
  </footer>
