    <!-- header  -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="#"><img src="{{info.logo.url}}" height="50px" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto  mb-2 mb-lg-0">
              
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'products' %}">Products</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Category
                </a>
                <ul class="dropdown-menu">
                  {% for item in categ %}
                  <li><a class="dropdown-item" href="{% url 'category' item.id %}">{{item.name|title}}</a></li>  
                  {% endfor %}
              </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'cart' %}"> 
                  <div class="wrapper">
                    <i class="bi bi-cart4"></i>
                    <span class="badge">{{itemcount}}</span>
                  </div>
                </a>
              </li>
                      <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  
                  {% if user.customer %}
                  <img src="{{user.customer.pix.url}}" style="height: 20px;" alt=""><span class="text-caitalize">Hi {{user.username}}</span>                   
                  {% endif %}
                    
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                  <li><a class="dropdown-item" href="{% url 'signout' %}">Logout</a></li>
      
                </ul>
              </li>
              
              {% else %}
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'products' %}">Products</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Category
                </a>
                <ul class="dropdown-menu">
                  {% for item in categ %}
                  <li><a class="dropdown-item" href="{% url 'category' item.id %}">{{item.name|title}}</a></li>  
                  {% endfor %}
              </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
              </li>
                
              <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'signin' %}">Login</a>
              </li>
              {% endif %}
                


            </ul>
            <form action="{% url 'search' %}" method="POST" class="d-flex" role="search">
              {% csrf_token %}
              <input class="form-control me-2" name="item" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-dark" type="submit">Search</button>
            </form>
            <div class="david">
              <i class="bi bi-moon-fill"></i>
           </div>
          </div>
        </div>
      </nav>
          <!-- header done  -->

          
          {% comment %} pop up {% endcomment %}
          {% for item in messages %}
          <div class="alert alert-warning alert-dismissible fade show mb-0 text-center" role="alert">
            <strong>{{item}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>  
          {% endfor %}

          {% comment %} pop up done {% endcomment %}
            