{% extends 'base.html' %}

{% block loader %} {% include 'loader.html' %} {% endblock loader %}
{% block header %} {% include 'header.html' %} {% endblock header %}
{% block banner %} {% include 'banner.html' %} {% endblock banner %}
{% block content %}

 
    <!-- content  -->
    <div class="container mt-5 mb-5">
      <h1 class="text-center text-capitalize title">my profile</h1>
      <div class="row">
        <div class="col-12 col-md-3 pavat text-white">
          <img src="{{userprof.pix.url}}" style="height: 200px;" alt="">
          <h3 class="text-capitalize">{{userprof.user}}</h3>
          <hr>
          <ul class="list-unstyled">
            <li><a href="{% url 'profile' %}">profile</a></li>
            <li><a href="{% url 'profile_update' %}">profile update</a></li>
            <li><a href="{% url 'password_update' %}">password update</a></li>
          </ul>
        </div>

        <div class="col-12 col-md-9 pform">
          <form action="{% url 'password_update' %}" method="POST" enctype="multipart/form-data" >
            {% csrf_token %}
            {{passupdate.as_p}}

            <div class="mb-3">
              <button type="submit" class="btn btn-warning">update</button>
            </div>
          </form> 
  

        </div>
      </div>
  </div>
    <!-- content done  -->
  {% endblock content %}

  {% block footer %} {% include 'footer.html' %} {% endblock footer %}