{% extends 'base.html' %}
{% block loader %} {% include 'loader.html' %} {% endblock loader %}
{% block header %} {% include 'header.html' %} {% endblock header %}
{% block banner %} {% include 'banner.html' %} {% endblock banner %}


{% block content %}
    <!-- content  -->
    <div class="container mt-5 mb-5">
    {% if item != none and search.count > 0 %}
      
    <h1 class="text-center text-capitalize title">here is your search result for {{item}}</h1>
    <div class="row mt-5">
      
      {% for item in search %}
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card featcard">
            <a href="{% url 'detail' item.id item.slug %}"><img src="{{item.img.url}}" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <h5 class="card-title text-capitalize text-center">{{item.name}}</h5>
              <P class="card-text text-center">₦{{item.price}}</P>
              <form action="{% url 'add_to_cart' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="itemid" value="{{item.id}}">
                <input type="hidden" name="quantity" value="1">
                <button type="submit" class="btn btn-warning">Add to cart</button>
              </form>
            </div>
        </div>
    </div>
        
      {% endfor %}
        

    </div>
    {% else %}
    <h5>Your search for {{item}} is not found</h5>    
    {% endif %}
    </div>

    <!-- content done  -->

{% endblock content %}

{% block footer %} {% include 'footer.html' %} {% endblock footer %}

